<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success">Save</button>
                    <button class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Label</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imgPath">Label</label>
                        <input type="text" id="imgPath" name="imgPath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="" class="img-responsive">
                </div>
            </div>
        </form>
    </div>
</div>